<%- include('../includes/head.ejs')%> <%-
include('../includes/navigation.ejs')%>

<main>
  <% if (errorMessage) { %>
  <div class="user-message user-message--error"><%= errorMessage %></div>
  <% } %>
  <form class="login-form" action="<%= path %>" method="POST" novalidate>
    <div class="form-control">
      <label for="email">Email</label>
      <input
        type="email"
        name="email"
        id="email"
        value="<% if (email) { %><%= email %><% } %>"
      />
    </div>
    <div class="form-control">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" />
    </div>
    <button class="btn" type="submit">Login</button>
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
  </form>
  <div class="centered">
    <a href="/reset">Reset Password</a>
  </div>
</main>

<%- include('../includes/end.ejs')%>
