<%- include('../includes/head.ejs') %> <%- include('../includes/navigation.ejs')
%>
<main>
  <% if (errorMessage) { %>
  <div class="user-message user-message--error"><%= errorMessage %></div>
  <% } %>
  <form class="product-form" action="<%= path %>" method="POST" novalidate>
    <div class="form-control">
      <label for="title">Title</label>
      <input
        type="text"
        name="title"
        id="title"
        value="<% if (product) {%><%= product.title %><% } %>"
      />
    </div>
    <div class="form-control">
      <label for="image-url">Image URL</label>
      <input
        type="text"
        name="imageurl"
        id="image-url"
        value="<% if (product) {%><%= product.imageurl %><% } %>"
      />
    </div>
    <div class="form-control">
      <label for="price">Price</label>
      <input
        type="number"
        name="price"
        id="price"
        step="0.01"
        value="<% if (product) {%><%= product.price %><% } %>"
      />
    </div>
    <div class="form-control">
      <label for="description">description</label>
      <textarea name="description" id="description" rows="5">
<% if (editing) {%><%= product.description %> <% } %></textarea
      >
    </div>
    <% if (editing) {%>
    <input type="hidden" name="id" value="<%= product.id %>" />
    <% } %>
    <button class="btn" type="submit">
      <% if (editing) { %>Update Product<% } else {%>Add Product<% } %>
    </button>
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
  </form>
</main>
<%- include('../includes/end.ejs') %>
