<%- include('../includes/head.ejs')%> <%-
include('../includes/navigation.ejs')%>

<main>
  <ul class="cart__item-list">
    <% products.forEach(p => { %>
    <li class="cart__item">
      <h1><%= p.title %></h1>
      <h2>Quantity: <%= p.cartItem.quantity %></h2>
    </li>
    <% }) %>
  </ul>
  <div class="centered">
    <h2>Total: $<%= totalSum %></h2>
  </div>
  <div class="centered">
    <button id="order-btn" class="btn">ORDER</button>
    <script src="https://js.stripe.com/v3/"></script>
    <script>
      const sessionId = "<%= sessionId %>";
    </script>
    <script src="/js/stripe.js"></script>
  </div>
</main>

<%- include('../includes/end.ejs')%>
