<%- include('../includes/head.ejs')%> <%-
include('../includes/navigation.ejs')%>

<main>
  <% if (orders.length > 0) { %>
  <ul>
    <% for (order of orders) {%>
    <li>
      Order #<%= order.id %>
      <ul>
        <% for (product of order.products) { %>
        <li><%= product.title %> (<%= product.orderItem.quantity %>)</li>
        <% } %>
      </ul>
    </li>
    <% } %>
  </ul>
  <% } else { %>
  <h1>No Orders!</h1>
  <% } %>
</main>

<%- include('../includes/end.ejs')%>
