<%- include('../includes/head.ejs')%> <%-
include('../includes/navigation.ejs')%>

<main>
  <% if (orders.length > 0) { %>
  <ul class="orders">
    <% for (order of orders) {%>
    <li class="orders__item">
      Order #<%= order.id %>
      <ul class="orders__products">
        <% for (product of order.products) { %>
        <li class="orders__products-item">
          <%= product.title %> (<%= product.orderItem.quantity %>)
        </li>
        <% } %>
      </ul>
    </li>
    <% } %>
  </ul>
  <% } else { %>
  <h1>No Orders!</h1>
  <% } %>
</main>

<%- include('../includes/end.ejs')%>
